.contact {
  text-align: center;
  color: var(--clr-font-1);
  margin-bottom: 25rem;
  margin-top: 25rem;

  &-div {
    display: flex;
    justify-content: center;
    // margin-right: 5rem;
  }

  &-header {
    color: var(--clr-font-1);
    font-size: 4rem;

    font-weight: 700;
  }
  &-greeting {
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 8rem 0;

    p {
      margin-bottom: 2rem;
      line-height: 1.4;
    }
  }

  &-button {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: var(--clr-primary-2);
    color: var(--clr-font-secondary);
    border: 1px solid var(--clr-font-secondary);
    border-radius: 5px;
    padding: 1.5rem 3rem;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-primary-1);
    }
  }
}
