.footer {
  color: var(--clr-font-1);
  margin: 5rem 15% 0 15%;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-links {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }
    li {
      list-style: none;
      margin: 1rem 3rem;
      font-size: 2.5rem;
      color: var(--clr-font-secondary);
      cursor: pointer;

      a:visited {
        text-decoration: none;
        color: var(--clr-font-secondary);
      }

      &:hover {
        transform: scale(1.1) translateY(-0.5rem);
      }

      &:active {
        transform: translateY(-0.2px);
      }
    }
  }

  &-copyright {
    margin-bottom: 2rem;
  }
}

.mail a {
  color: var(--clr-font-secondary);
}

@media (max-width: 768px) {
  .footer {
    &-links {
      li {
        list-style: none;
        margin: 1rem 4rem;
        font-size: 2.5rem;
      }
    }
  }
}
