@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&family=Open+Sans:wght@300&display=swap");

:root {
  /* bg color nav*/
  --clr-primary-1: #525e65;
  /* primary background */
  --clr-primary-2: #222733;
  /* secondary background */
  --clr-secondary-1: #33384a;
  /* primary font color */
  --clr-font-1: #dbe8d4;
  /* secondary font background */
  --clr-font-secondary: #73cca8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // set font-size to 10px vs 16px
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 40.25em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 30.25em) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--clr-primary-2);
}

// Utilities
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.down-arrow {
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadeDown 2.5s ease-in-out;
}

.underline {
  background-color: var(--clr-font-1);
  height: 3px;
  width: 60%;
  border-radius: 5px;
  opacity: 50%;
  margin: 0 auto;
}

// BG-Video
#video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
}

// Buttons
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  width: 10rem;
  background-color: var(--clr-font-1);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--clr-secondary-1);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--clr-secondary-1);
}

.intro-btn-container {
  display: flex;
  justify-content: center;
}

.intro-btn {
  margin-top: 10rem;
}

.back-to-top {
  position: fixed;
  right: 4rem;
  bottom: 4.2rem;
  cursor: pointer;
}

.back-btn {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: var(--clr-font-1);
  font-size: 3.5rem;
  animation: fadeIn 6s;
}

// Animations
.fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    // transform: translateY(10rem);
  }
  33% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  66% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(3rem);
  }
  66% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(-1rem);
    color: var(--clr-font-secondary);
  }
  66% {
    opacity: 0;
    transform: translateY(-2rem);
    color: var(--clr-font-secondary);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
    /* Moves 100px on the x axis*/
  }
  80% {
    transform: translateX(-1rem);
    /* Pushes it 20px to the left prior to coming back to default */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* Takes it to default*/
  }
}

// body {
//   box-sizing: border-box;
//   // Change box model so that the borders and paddings are no longer added
//   padding: 3rem;
// }
// @media (max-width: 56.25em) {
//   body {
//     padding: 0;
//   }
// }

$base: 0.6rem;
.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

// Responsivenes
@media (max-width: 1024px) {
  .page-introduction-intro {
    height: 65%;
    padding: 2rem 10rem;
    // margin: 10rem 20rem;
    margin: 20% 5% 7% 5%;
  }
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
    margin-right: 0;
    font-size: 2.5rem;
  }
  .page-introduction-intro {
    height: 65%;
    margin: 20% 0;
  }
}

@media (max-width: 500px) {
  .page-introduction-intro {
    height: 65%;
    margin: 40% 0;
  }
}
