.page-introduction {
  height: 100vh;

  &-intro {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 10rem;
    margin: 10% 15% 0 15%;
    color: var(--clr-font-1);
    font-size: 4rem;

    &-items {
      display: flex;
      flex-direction: column;
      align-items: space-between;
    }
  }

  &-header {
    // color: var(--clr-font-1);
    // background-color: var(--clr-secondary-1);
    // padding-top: 0.2rem;
    // -webkit-clip-path: ellipse(51% 89% at 50% 05%);
    // clip-path: ellipse(55% 95% at 50% 05%);
    // padding-top: 4%;
    // padding-bottom: 1rem;

    &-content {
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 3rem;
      margin: 0 7%;

      h1 {
        font-weight: 300;
        letter-spacing: 0.15em;
        line-height: 1.25;
        font-style: normal;
        font-size: 6vw;
        text-size-adjust: auto;
        margin: 3rem 0;
        padding-top: 2.5%;
      }

      h2 {
        font-weight: 700;
        font-size: 1.5vw;
        letter-spacing: 0.15em;
      }
    }
  }
}

.intro-info-1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  // animation: slideInFromLeft 3s;
  animation: introFadeUp 1.4s ease-in-out;
  color: var(--clr-font-secondary);
  padding-left: 0.5rem;
}

.intro-info-2 {
  font-size: 7rem;
  // animation: slideInFromRight 3s;
  animation: introFadeUp 1.5s ease-in-out;
  margin-bottom: 2rem;
}

.intro-info-3 {
  font-size: 3.5rem;
  // animation: slideInFromLeft 3s;
  animation: introFadeUp 1.6s ease-in-out;

  // background: linear-gradient(var(--clr-font-secondary), var(--clr-font-1));
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
}

@keyframes introFadeUp {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(1rem);
  }
  66% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  .page-introduction-intro {
    padding: 2rem 10rem;
    margin: 8% 10% 0 10%;
    font-size: 4rem;
  }

  .intro-info-3 {
    margin-bottom: 18rem;
  }
}

@media (max-width: 1367) {
  .page-introduction-intro {
    margin: 15% 10% 0 10%;
  }
}

@media (max-width: 1138px) {
  .page-introduction-intro {
    margin: 13% 8%;
  }
}
// @media (max-width: 1138px) {
//   .page-introduction-intro {
//     margin: 17% 5%;
//   }
// }

@media (max-width: 1024px) {
  .page-introduction-intro {
    margin: 15% 0;
  }
}

@media (max-width: 1023px) {
  .page-introduction-intro {
    margin: 25% 0 5% 0;
    padding: 2rem 5rem;
  }
  .intro-info-2 {
    font-size: 6rem;
  }
  .intro-info-3 {
    font-size: 3rem;
  }
}

@media (max-width: 475px) {
  .page-introduction-intro {
    margin: 40% 0;
    padding: 9rem 5rem;
  }
}

@media (max-width: 400px) {
  .page-introduction-intro {
    margin: 10% 0;
  }
}
