// Navbar
.nav {
  // background-color: var(--clr-primary-1);
  color: var(--clr-font-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-right: 10rem;
  margin-top: 1rem;

  &-list {
    display: flex;
    list-style: none;
    text-decoration: none;

    &-link {
      cursor: pointer;
      padding: 1.5rem 1rem 1rem 1rem;
      margin: 0 1.5rem;

      &-1 {
        animation: dropDown 0.5s ease-in;
      }
      &-2 {
        animation: dropDown 0.6s ease-in;
      }
      &-3 {
        animation: dropDown 0.7s ease-in;
      }
      &-4 {
        animation: dropDown 0.8s ease-in;
      }
      &-5 {
        animation: dropDown 0.9s ease-in;
      }

      &:hover {
        color: var(--clr-font-secondary);
      }
    }
  }
}

.nav-number {
  color: var(--clr-font-secondary);
  margin-right: 0.7rem;
  font-size: 1.3rem;
}

.nav-toggle-btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 35px;
  width: 35px;
  cursor: pointer;
  animation: dropDown 0.7s ease-in;
}

.hamburger-0 {
  height: 3px;
  width: 100%;
  background-color: var(--clr-font-secondary);
  border-radius: 10px;
}

.hamburger-1 {
  height: 3px;
  width: 90%;
  background-color: var(--clr-font-secondary);
  border-radius: 10px;
}

.hamburger-2 {
  height: 3px;
  width: 80%;
  background-color: var(--clr-font-secondary);
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .nav {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .inside-logo {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
  }

  .outside-logo {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media (max-width: 900px) {
  .nav {
    margin-top: 3rem;
  }

  .inside-logo {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 2.2rem;
  }

  .outside-logo {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 768px) {
  .nav {
    margin-right: 6rem;
  }
  .nav-toggle-btn {
    display: flex;
  }
  .nav-list {
    display: none;
  }
}

@media (max-width: 645px) {
  .nav {
    margin-top: 3rem;
    font-size: 3rem;
  }

  .inside-logo {
    height: 5rem;
    width: 5rem;
    font-size: 2.4rem;
  }

  .outside-logo {
    width: 5.5rem;
    height: 5.5rem;
  }
}
