// Side-Nav modal

.side-nav-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s linear;
  transform: translate(100%);
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 55%;
  background-color: var(--clr-primary-1);
  color: var(--clr-font-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  font-size: 3rem;

  &-number {
    color: var(--clr-font-secondary);
    margin-right: 0.7rem;
    font-size: 2.2rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 35rem;

    &-link {
      cursor: pointer;
      padding: 1.5rem 1.5rem 1rem 1rem;
      margin: 1rem 1.5rem;

      &:hover {
        color: var(--clr-font-secondary);
      }
    }
  }
}

.show-side-nav-modal {
  visibility: visible;
  z-index: 10;
  transition: all 0.3s linear;
  transform: translate(0);
}

.close-side-nav-btn {
  position: fixed;
  top: 3rem;
  right: 5rem;
  cursor: pointer;
  color: var(--clr-font-secondary);
  font-size: 5rem;
}
